@page
@model SupportHub.Pages.Welcome.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutWelcome";
}
<script src="https://kit.fontawesome.com/52428cdec5.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<section>
    <div class="contenedor">
        <div class="formulario">
            <form method="post">
                <h2>Iniciar Sesión</h2>
            <div class="input-contenedor">
                    <i class="fa-solid fa-users"></i>
                    <input type="text" id="username" name="username" required />
                    <label for="username">Username: </label>
            </div>
            <div class="input-contenedor">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="password" name="password" required />
                    <label for="#">Password: </label>
            </div>
                <div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>
<section>
    <div class="info-contenedor">
        <div class="card">
            <figure>
                <img src="/imagenes/" />
            </figure>
            <div class="contenido">
                <h3>En que se basa SupportHub</h3>
                <p>

                </p>
                <a href="#">Leer más</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="/imagenes/" />
            </figure>
            <div class="contenido">
                <h3>En que se basa SupportHub</h3>
                <p>

                </p>
                <a href="#">Leer más</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="/imagenes/" />
            </figure>
            <div class="contenido">
                <h3>En que se basa SupportHub</h3>
                <p>

                </p>
                <a href="#">Leer más</a>
            </div>
        </div>
    </div>
</section>
@if (Model.ErrorMessage != null)
{
    <script>
        Swal.fire({
            title: "Oops...",
            text: "@Html.Raw(Model.ErrorMessage)",  // 
            icon: "error",
            confirmButtonText: "OK"
        });
    </script>
}


<script type="text/javascript">
    @{
        var errorMessage = ViewData["ErrorMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <text>
            Swal.fire({
                title: "Oops...",
                text: @Html.Raw($"\"{errorMessage}\""),
                icon: "error",
                confirmButtonText: "OK"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirigir a la página Index
                    window.location.href = '/';
                }
            });
        </text>
    }
</script>
