@page
@model SupportHub.Pages.Welcome.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutWelcome";
}
<script src="https://kit.fontawesome.com/52428cdec5.js" crossorigin="anonymous"></script>
<section>
    <div class="contenedor">
        <div class="formulario">
            <form method="post">
                <h2>Iniciar Sesión</h2>
            <div class="input-contenedor">
                    <i class="fa-solid fa-users"></i>
                    <input type="text" id="username" name="username" required />
                    <label for="username">Username: </label>
            </div>
            <div class="input-contenedor">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="password" name="password" required />
                    <label for="#">Password: </label>
            </div>
                <div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>
<section>
    <div class="info-contenedor">
        <div class="card">
            <figure>
                <img src="/imagenes/" />
            </figure>
            <div class="contenido">
                <h3>En que se basa SupportHub</h3>
                <p>

                </p>
                <a href="#">Leer más</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="/imagenes/" />
            </figure>
            <div class="contenido">
                <h3>En que se basa SupportHub</h3>
                <p>

                </p>
                <a href="#">Leer más</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="/imagenes/" />
            </figure>
            <div class="contenido">
                <h3>En que se basa SupportHub</h3>
                <p>

                </p>
                <a href="#">Leer más</a>
            </div>
        </div>
    </div>
</section>





